# Игнорируем папку с зависимостями
node_modules/

# Игнорируем папку с загруженными файлами
uploads/

# Игнорируем файлы, сгенерированные системой
*.log
*.env

# Игнорируем файлы IDE (например, для VS Code)
.vscode/

# Игнорируем файлы, связанные с операционной системой
.DS_Store
Thumbs.db
